@if (orientation() === 'horizontal') {
  <div class="od-stepper stepper-horizontal">
    @for (step of steps(); track step) {
      <div class="od-stepper-item">
        <div
          class="od-stepper-node"
          [ngClass]="{
            'is-active': isActive(step),
            'is-completed': isCompleted(step)
          }">
          <span>{{ step }}</span>
        </div>
        @if (!$last) {
          <div
            class="od-stepper-line"
            [ngClass]="{'is-completed': isCompleted(step + 1)}"></div>
        }
      </div>
    }
  </div>
}
