@use "../../styles/variables";

.od-stepper {
  width: 100%;
  overflow: hidden;

  &.stepper-horizontal {
    display: flex;
    flex-direction: column;

    > section {
      width: 100%;
      background: red;

      &:last-child {
        background: yellow;
      }
    }
  }
}

/*
.od-stepper {
  width: 100%;
  border-radius: 15px;
  height: 15px;
  background: rgba(84, 104, 125, 26%);
  overflow: hidden;

  .od-stepper-step {
    background: variables.$light_violet_color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    border-radius: 15px;

    p {
      font-weight: bold;
      color: variables.$white;
    }
  }

  .od-stepper-content {

  }
}
*/
