@use "../../../../../../shared/styles/variables";
@use "../../../../../../shared/styles/mixins";

.od-option {
  width: 100%;
  padding: 0.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
  color: variables.$light_text_color;
  cursor: pointer;

  &:hover {
    background: rgba(84, 104, 125, 10%);
  }

  &:not(:last-child) {
    margin-bottom: 0.7rem;
  }

  &.selected {
    background: rgba(84, 104, 125, 26%);
  }
}
