
@use "../../../../styles/mixins";
@use "../../../../styles/variables";

@include mixins.small {
  .std-banner-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 8rem;
    padding-bottom: 12rem;

    .std-banner {
      background-image: url("/images/home/Breadcrumb.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100vh;
      max-height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;

      .std-banner-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;

        h3 {
          font-size: 3rem;
          text-align: center;
        }

        std-button {
          margin-top: 1.8rem;
        }
      }

    }
  }
}
