@use "../../../../styles/mixins";
@use "../../../../styles/variables";

@include mixins.large {
  .od-banner-container {
    width: 100%;
    padding-left: variables.$container_padding_left;
    padding-right: variables.$container_padding_right;
    padding-top: 8rem;
    padding-bottom: 12rem;

    .od-banner {
      background-image: url("/images/home/Breadcrumb.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center right;
      height: 440px;
      max-height: 440px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;

      .od-banner-content {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: variables.$container_padding_left;
        padding-right: variables.$container_padding_right;

        h3 {
          font-size: 2rem;
          text-align: center;
        }

        od-button {
          margin-top: 1.8rem;
        }
      }
    }
  }
}
