
<div class="od-pricing-card">
  @if (bestSeller()) {
    <div class="od-card-best">
      <p>{{ 'PRICING.cards.popular' | translate }}</p>
      <od-svg path="/icons/yes_cloud1.svg"></od-svg>
    </div>
  }
  <div class="od-pricing-card-content">
      <div class="od-pricing-title-section">
        <h3>{{ 'PRICING.cards.title' | translate }}</h3>
        @if (studentNumber <= 500) {

          <p class="od-pricing-price">
            <span>{{ "PRICING.cards.price" | translate }}</span>
            <span>{{ 'PRICING.cards.priceRight' | translate }}</span>
          </p>
          <p class="od-pricing-monthly-subscription">{{ 'PRICING.cards.monthlyPrice' | translate }}</p>
          <p class="od-pricing-total">{{ 'PRICING.cards.total' | translate }} {{ bestSeller() ? bestSellerPrice : totalPrice }} € {{ 'PRICING.cards.totalEnd' | translate }}</p>
          <p class="od-pricing-engagement">{{ 'PRICING.cards.engagement' | translate }}</p>
        } @else {
          <p class="od-custom-pricing">{{ "PRICING.cards.customPrice" | translate }}</p>
        }
      </div>
    <div class="od-pricing-demo-btn">
      <od-button [navigateTo]="'/become-customer'" content="{{ 'HOME.navbar.trial' | translate }}" [outlined]="true"></od-button>
    </div>
    <div class="od-pricing-type-establishment" (click)="toggleEstablishmentList()">
      <div class="od-pricing-establishment-title">
        @if (selectedEstablishment !== undefined) {
          <p>{{ selectedEstablishment | translate }}</p>

        } @else {
          <p>{{ 'PRICING.cards.establishment' | translate }}</p>
        }
        <od-svg path="/icons/arrow-down.svg"></od-svg>
      </div>
      <div class="od-pricing-establishment-list">
        <div class="od-pricing-establishment-item" (click)="selectEstablishment(undefined)">
          <p>{{ 'PRICING.cards.establishment' | translate }}</p>
        </div>
        <div class="od-pricing-establishment-item" (click)="selectEstablishment('middleSchool')">
          <p>{{ establishment.middleSchool.title }}</p>
        </div>
        <div class="od-pricing-establishment-item" (click)="selectEstablishment('highSchool')">
          <p>{{ establishment.highSchool.title }}</p>
        </div>
        <div class="od-pricing-establishment-item" (click)="selectEstablishment('highSchoolApprenticeship')">
          <p>{{ establishment.highSchoolApprenticeship.title }}</p>
        </div>
        <div class="od-pricing-establishment-item" (click)="selectEstablishment('university')">
          <p>{{ establishment.university.title }}</p>
        </div>
        <div class="od-pricing-establishment-item" (click)="selectEstablishment('universityApprenticeship')">
          <p>{{ establishment.universityApprenticeship.title }}</p>
        </div>
      </div>
    </div>
    <div class="od-pricing-features">
      <ul class="od-pricing-features-list">
        @for (item of features; track item) {
          <li class="od-pricing-feature-item">
            <od-svg path="/icons/check.svg"></od-svg>
            <p>{{ item.title | translate }}</p>
            <od-svg path="/icons/info.svg"></od-svg>
          </li>
        }
      </ul>
      <div class="od-pricing-options">
        <div class="od-pricing-option-item">
          <div class="od-pricing-option-title-bloc">
            <div class="od-pricing-option-title-left">
              <p>Cours en visio</p>
              <od-svg path="/icons/info.svg"></od-svg>
            </div>
            <div class="od-pricing-option-right">
              <div class="od-pricing-option-check" (click)="handleCheck()"></div>
            </div>
          </div>
          <p class="od-pricing-option-price">99 € par mois*</p>
        </div>
      </div>
    </div>
  </div>
</div>
