<div class="od-navbar" [ngClass]="{'show-nav': isNavbarOpened}">
  <div class="od-navbar-top-logo">
    <div class="od-logo">
      <od-svg width="100%" routerLink="/" path="/images/logo.svg"></od-svg>
    </div>
    <div class="od-navbar-logo-open">
      @if (isNavbarOpened) {
        <od-svg width="100%" [path]="closeIcon" (click)="toggleShowNavbar()"></od-svg>
      } @else {
        <od-svg width="100%" [path]="openIcon" (click)="toggleShowNavbar()"></od-svg>
      }
    </div>
  </div>
  <div class="od-nav-bar-bottom">
    <div class="od-nav-links">
      <ul class="od-nav-links-content">
        <li class="od-nav-links-item">
          <a href="" class="od-nav-link">{{ "HOME.navbar.whyUs" | translate }}</a>
        </li>
        <li class="od-nav-links-item">
          <a href="" class="od-nav-link">{{ "HOME.navbar.solution" | translate }}</a>
        </li>
        <li class="od-nav-links-item">
          <a routerLink="/pricing" class="od-nav-link">{{ "HOME.navbar.pricing" | translate }}</a>
        </li>
        <li class="od-nav-links-item">
          <a href="" class="od-nav-link">{{ "HOME.navbar.faq" | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="od-nav-btn">
      <div class="od-navbar-btn-item">
        <od-button [navigateTo]="'/become-customer'" content="{{ 'HOME.navbar.trial' | translate }}" [outlined]="false"></od-button>
      </div>
    </div>
  </div>
</div>
