@use '../../styles/variables';
@use '../../styles/mixins';

.std-navbar {
  background: variables.$white;
  display: flex;
  padding: 1rem 6rem 1rem;

  .std-nav-link {
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    color: variables.$black;
  }

  .std-navbar-top-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;

    .std-logo {
      display: flex;
      align-items: center;
      width: 80%;
      cursor: pointer;
    }

    .std-navbar-logo-open {
      display: none;
    }
  }

  .std-nav-bar-bottom {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .std-nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }

  .std-nav-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 43%;

    .std-navbar-btn-item {
      width: 50%;

      &:not(:last-of-type) {
        margin-right: 1.3rem;
      }
    }
  }

  .std-nav-links-content {
    list-style: none;
    display: flex;

    .std-nav-links-item {

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

}

@import "styles/responsive/x_small";
@import "styles/responsive/small";
@import "styles/responsive/medium";
@import "styles/responsive/large";

