<section class="od-footer">
  <section class="od-footer-banner">
    <div class="od-footer-banner-content">
      <div class="od-footer-logo">
        <od-svg width="100%" routerLink="/" path="/images/logo.svg"></od-svg>
      </div>
      <div class="od-footer-banner-button">
        <od-button [navigateTo]="'/become-customer'" [outlined]="false" content="{{ 'HOME.navbar.trial' | translate }}"></od-button>
      </div>
    </div>
  </section>
  <section class="od-footer-links">
    <div class="od-footer-links-content">
      <div class="od-footer-link">
        <h4>{{ 'FOOTER.company.title' | translate }}</h4>
        <ul class="od-footer-link-list">
          <li class="od-footer-link-list-item">
            <a routerLink="/about" class="od-footer-link-item">{{ 'FOOTER.company.link1' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="od-footer-link">
        <h4>{{ 'FOOTER.navigation.title' | translate }}</h4>
        <ul class="od-footer-link-list">
          <li class="od-footer-link-list-item">
            <a routerLink="/about" class="od-footer-link-item">{{ 'FOOTER.navigation.whyUs' | translate }}</a>
          </li>
          <li class="od-footer-link-list-item">
            <a routerLink="/features" class="od-footer-link-item">{{ 'FOOTER.navigation.solution' | translate }}</a>
          </li>
          <li class="od-footer-link-list-item">
            <a routerLink="/pricing" class="od-footer-link-item">{{ 'FOOTER.navigation.pricing' | translate }}</a>
          </li>
          <li class="od-footer-link-list-item">
            <a routerLink="/faq" class="od-footer-link-item">{{ 'FOOTER.navigation.faq' | translate }}</a>
          </li>
          <li class="od-footer-link-list-item">
            <a routerLink="/how-it-works" class="od-footer-link-item">{{ 'FOOTER.navigation.howItWorks' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="od-footer-link">
        <h4>{{ 'FOOTER.customer.title' | translate }}</h4>
        <ul class="od-footer-link-list">
          <li class="od-footer-link-list-item">
            <a href="" class="od-footer-link-item">{{ 'FOOTER.customer.login' | translate }}</a>
          </li>
          <li class="od-footer-link-list-item">
            <a href="" class="od-footer-link-item">{{ 'FOOTER.customer.report' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="od-footer-legals">
    <div class="od-footer-legals-content">
      <div class="od-footer-legals-copyright">
        <p>{{ 'FOOTER.legals.copyright' | translate }}</p>
      </div>
      <div class="od-footer-legals-politics">
        <a href="">{{ 'FOOTER.legals.politics' | translate }}</a>
        <a href="">{{ 'FOOTER.legals.termOfUse' | translate }}</a>
      </div>
      <div class="od-footer-languages">
        <div class="od-footer-languages-card">
          <p>FR</p>
          <div class="od-footer-language-icon">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.13388 12.1382C6.64572 12.6263 6.64572 13.4178 7.13388 13.906L13.2491 20.0152C14.2256 20.9907 15.8079 20.9904 16.7839 20.0145L22.8967 13.9015C23.385 13.4133 23.385 12.6218 22.8967 12.1337C22.4086 11.6455 21.6171 11.6455 21.129 12.1337L15.897 17.3657C15.4089 17.854 14.6174 17.8539 14.1292 17.3657L8.90165 12.1382C8.4135 11.65 7.62203 11.65 7.13388 12.1382Z" fill="#0F0F0F"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
