<div class="od-form-select-container" selectOptionDirective [isOptionGroupClose]="isOpen" (closeOptionGroup)="isOpen = $event">
  <p class="od-form-select-label">{{ label() }}</p>
  <div class="od-form-control" (click)="openSelect()">
    <div class="od-form-select" [ngClass]="{'open': isOpen}">
      <p class="od-form-select-title">{{ defaultOption() }}</p>
      <div class="od-form-select-icon">
        <od-svg path="/icons/up_down.svg"></od-svg>
      </div>
    </div>
  </div>
  @if (isOpen) {
    <ng-content select="od-select-option-group, stdSelectOptionGroup, [od-select-option-group]"></ng-content>
  }
</div>
