<div class="std-form-select-container" selectOptionDirective [isOptionGroupClose]="isOpen" (closeOptionGroup)="isOpen = $event">
  <p class="std-form-select-label">{{ label() }}</p>
  <div class="std-form-control" (click)="openSelect()">
    <div class="std-form-select" [ngClass]="{'open': isOpen}">
      <p class="std-form-select-title">{{ defaultOption() }}</p>
      <div class="std-form-select-icon">
        <std-svg path="/icons/up_down.svg"></std-svg>
      </div>
    </div>
  </div>
  @if (isOpen) {
    <ng-content select="std-select-option-group, stdSelectOptionGroup, [std-select-option-group]"></ng-content>
  }
</div>
