@use '../form';
@use '../../../../shared/styles/variables';

.std-form-select-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;

  p.std-form-select-label {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .std-form-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p.std-form-select-title {
      font-size: 1rem;
    }

    &.open {
      flex-direction: row;
    }

  }

}
