@use "../../../../shared/styles/mixins";
@use "../../../../shared/styles/variables";

@include mixins.large {
  @include mixins.container {
    .od-pricing {
      width: 100%;
      display: flex;
      flex-direction: column;

      .od-pricing-top {
        width: 100%;
        background-color: rgba(84, 104, 125, 0.15);
        padding-left: 2rem;
        padding-right: 2rem;
        height: 100%;
        padding-bottom: 2rem;

        .od-pricing-top-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding-top: 5rem;
          align-items: center;

          .od-pricing-section-title {
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 2rem;

            span {
              color: #10083c;
            }

            span:nth-child(2) {
              color: variables.$light_violet_color;
              margin-left: 0.5rem;
            }

            p {
              font-size: 1.4rem;
              color: variables.$light_text_secondary_color;
              font-weight: 450;
              margin-top: 0.3rem;
            }
          }

          .od-pricing-slider-card {
            background: variables.$white;
            width: 80%;
            min-height: 10vw;
            border-radius: 15px;
            padding: 1.5rem 1.5rem;
            display: flex;
            flex-direction: column;

            .od-pricing-card-title {
              font-size: 1.3rem;
            }

            .od-pricing-slider-bloc {
              width: 100%;
              padding-top: 2rem;

              .od-pricing-slider {
                background: variables.$dark_icon_color;
                border-radius: 15px;
                height: 0.8rem;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0.5rem 0.1rem;
                position: relative;

                span.od-pricing-slider-range {
                  width: 12%;
                  height: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transition: background-color 0.3s ease-in-out;
                  border-radius: 50px;
                  position: relative;

                  &:last-child {
                    justify-content: center;
                    width: 20%;
                  }

                  &:first-child {
                    justify-content: flex-end;
                  }

                  &::after {
                    display: block;
                    content: "";
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 50px;
                    background-color: variables.$white;
                  }

                  &:hover {
                    cursor: pointer;
                    background-color: variables.$light_violet_color;
                    height: 0.9rem;
                    border-radius: unset;

                    &:last-child {
                      border-top-right-radius: 50px;
                      border-bottom-right-radius: 50px;
                    }

                    &::after {
                      display: none;
                    }

                    &::before {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: absolute;
                      content: var(--slider-value);
                      padding: 0.3rem 0.3rem;
                      height: 25px;
                      min-width: 25px;
                      background-color: #10083c;
                      top: -2.5rem;
                      border-radius: 7px;
                      color: variables.$white;
                      font-size: 0.7rem;
                    }
                  }

                  &.selected {
                    background: variables.$light_violet_color;
                    height: 0.9rem;
                    border-radius: unset;

                    &:first-child {
                      border-top-left-radius: 50px;
                      border-bottom-left-radius: 50px;
                    }

                    &:last-child {
                      border-top-right-radius: 50px;
                      border-bottom-right-radius: 50px;
                    }
                  }
                }
              }

              .od-pricing-number {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 1rem;

                p {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }

      .od-pricing-cards {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;

        .od-pricing-cards-content {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          gap: 1rem;

          .od-card-item {
            width: 50%;
          }
        }
      }
    }
  }
}
