<div class="od-container">
  <div class="od-customer-container">
    <section class="od-customer-top">
      <div class="od-customer-top-content">
        <div class="od-customer-top-logo-content">
          <div class="od-customer-top-logo">
            <od-svg routerLink="/" path="/images/logo.svg"></od-svg>
          </div>
        </div>
        <div class="od-customer-information">
          <p class="od-customer-step-title">
            Quelques informations
          </p>
          <od-stepper-count-tracker [initialValue]="1" [totalSteps]="7"></od-stepper-count-tracker>
        </div>
      </div>
      <div class="od-customer-top-stepper">
        <od-stepper [initialStep]="1" [totalSteps]="7"></od-stepper>
      </div>
    </section>
    <section class="od-customer-bottom">
      <div class="od-customer-bottom-content">
        <od-school-information></od-school-information>
      </div>
    </section>
  </div>
</div>
