<div class="od-customer-bottom-question-title">
  <h2>Quelques informations sur vous</h2>
</div>
<div class="od-customer-bottom-question">
  <form class="od-form-group">
    <div class="od-form-control-wrapper">
      <od-select label="Nombre d'étudiants" defaultOption="10-49 étudiants">
        <od-select-option-group>
          <od-select-option label="1-10 étudiants"></od-select-option>
          <od-select-option label="11-30 étudiants"></od-select-option>
        </od-select-option-group>
      </od-select>
    </div>
    <div class="od-form-control-wrapper">
      <od-select
        label="Nombre de collaborateurs"
        defaultOption="1-10 collaborateurs">
        <od-select-option-group>
          <od-select-option label="1-10 collaborateurs"></od-select-option>
          <od-select-option label="11-30 collaborateurs"></od-select-option>
        </od-select-option-group>
      </od-select>
    </div>
  </form>
  <div class="od-customer-bottom-btn">
    <od-button content="Continuer" [outlined]="false"></od-button>
  </div>
  <div class="od-customer-help">
    <a href="">Un problème ?</a>
  </div>
  <div class="od-customer-information-need">
    <p>Quelles informations sont requises pour l'inscription ?</p>
  </div>
</div>
